:root {
    --primary-color: #444444;
    --primary-color-transparent: #44444455;
    --secondary-color: #888888;
    --secondary-color-transparent: #88888855;
    --accent-color: #f1c40f;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    line-height: 1.6;
}

header,
main,
footer {
    padding: 15px;
}

header,
footer {
    width: 100%;
    background-color: var(--primary-color);
    box-sizing: border-box;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}






/***   HEADER   ******************************************************************************************/
/********************************************************************************************************/
/*******************************************************************************************************/
/******************************************************************************************************/



#nav-logo {
    font-size: 24px;
    color: var(--accent-color);
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 7px;
    width: 110px;
    text-align: center;
}


/*** Search Bar ************************************************************/
/**************************************************************************/

#search-bar {
    text-align: center;
}

#search-bar input {
    width: 65%;
    padding: 1em;
    border: none;
    border-radius: 20px;
    height: 4px;
    font-size: 18px;
    margin: 20px 0;
}

#search-results {
    display: none;  /* Hidden by default */
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
    z-index: 100; /* Make sure it's on top */
    transition: display 0.2s ease-in-out;
}

#search-results.show {
    display: block;
}

#search-results p {
    padding: 10px;
    cursor: pointer;
}

#search-results p:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}


/***   MAIN   ********************************************************************************************/
/********************************************************************************************************/
/*******************************************************************************************************/
/******************************************************************************************************/


#carousel-prev,
#carousel-next,
#arrow-right,
#arrow-left {
    background: none;
    color: var(--primary-color);
    border: none;
    cursor: pointer;
}

#carousel-next,
#carousel-prev {
    font-size: 45px;
}

#arrow-right,
#arrow-left {
    font-size: 30px;
}

#carousel-next:hover,
#carousel-prev:hover,
#arrow-right:hover,
#arrow-left:hover {
    background: var(--primary-color-transparent);
}



/*** Hero Carousel *********************************************************/
/**************************************************************************/


#hero-carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
#main-poster {
    width: 100%;
    margin-bottom: 10px;
}

#side-posters {
    display: none;
}

#side-posters div {
    /*flex-grow: 1;*/
    margin: 2px 0;
    box-sizing: border-box;
}

#main-poster,
#side-posters {
    position: relative;
}

#side-posters img {
    object-fit: cover;
    height: 55%;
    width: 55%;
}


/*** Recent Movies *********************************************************/
/**************************************************************************/

#recent-movies ul {
    padding-left: 0;
    list-style: none;
}

#recent-movies ul li {
    margin-bottom: 10px;
}

#main-poster .release-date {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
}

/*#main-poster {*/
/*    width: 70%;*/
/*}*/

/*#side-posters {*/
/*    width: 30%;*/
/*}*/

#main-poster img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/*** Mini Carousel *********************************************************/
/**************************************************************************/

#mini-carousel {
    display: flex;
    align-items: center;
}

#carousel-posters {
    flex: 1;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

#carousel-posters div {
    flex: 1;
    margin: 5px;
}

#carousel-posters img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#mini-carousel {
    flex-direction: row;
    justify-content: space-between;
}























#movie-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

#movie-title {
    width: 100%;
    text-align: center;
    color: #333;
    margin-bottom: 10px;
    font-size: 2em;
}

#movie-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

#movie-poster {
    max-width: 100%;
    height: auto;
}

#movie-overview, #movie-genres, #movie-release, #movie-rating {
    width: 100%;
    text-align: justify;
}






















@media screen and (min-width: 768px) {


    #hero-carousel {
        flex-direction: row;
        align-items: stretch;
        margin: 0 auto 20px;
        width: 85%;
    }

    #main-poster {
        flex-basis: 60%;
        flex-shrink: 0;
        margin-right: 10px;
        margin-left: 40px;

    }

    #side-posters {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        flex-grow: 1;
        flex-basis: 40%;
        flex-shrink: 0;
    }

    #carousel-next {
        position: relative;
        left: -100px;
    }




}

/*@media screen and (min-width: 1200px) {*/
/*    !* ... Previous CSS ... *!*/

/*    #main-poster {*/
/*        flex-basis: 60%;*/
/*    }*/

/*    #side-posters {*/
/*        flex-basis: 40%;*/
/*    }*/
/*}*/








/* Media queries for larger screens */
/*@media screen and (min-width: 768px) {*/
/*    header,*/
/*    main,*/
/*    footer {*/
/*        padding: 0 30px;*/
/*    }*/

/*    #search-bar {*/
/*        display: flex;*/
/*        justify-content: space-between;*/
/*        align-items: center;*/
/*    }*/

/*    #search-bar input {*/
/*        width: auto;*/
/*        flex-grow: 1;*/
/*        margin-right: 10px;*/
/*    }*/

/*    #side-posters {*/
/*        flex: 2;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        justify-content: flex-start;*/
/*    }*/

/*    #side-posters div {*/
/*        flex: 1;*/
/*        margin: 5px;*/
/*        width: auto;*/
/*    }*/

/*    #side-posters img {*/
/*        width: 100%;*/
/*        height: 100%;*/
/*        object-fit: contain;*/
/*    }*/

/*    !*#main-poster, .carousel-poster {*!*/
/*    !*    width: 70%;*!*/
/*    !*}*!*/
/*}*/

/*@media screen and (min-width: 1200px) {*/
/*    !*#main-poster, .carousel-poster {*!*/
/*    !*    width: 60%;*!*/
    /*}*/
/*}*/
