:root {
    --primary-color: #444; /* Adjust these as needed */
    --secondary-color: #888;
    --accent-color: #f1c40f;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

header,
main,
footer {
    padding: 0 30px;
}

header {
    width: 100%;
    background-color: var(--primary-color);
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}



nav #search-bar input {
    width: 400px;
    padding: 1em;
    border: none;
    border-radius: 20px;
    margin: 1em 0;
    height: 4px;
    font-size: 18px;
}

#search-bar {
    margin: 0 auto;
}

main {
    background-color: var(--secondary-color);
}

#hero-carousel,
#featured-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recent-movies {
    display: none; /* Will be visible on larger screens */
}




nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}














#search-results {
    display: none;  /* Hidden by default */
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
    z-index: 100; /* Make sure it's on top */
    transition: display 0.2s ease-in-out;
}

#search-results.show {
    display: block;
}

#search-results p {
    padding: 10px;
    cursor: pointer;
}

#search-results p:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}









#nav-logo {
    font-size: 24px;
    color: var(--accent-color);
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 7px;
}


























#hero-carousel {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    /*height: 500px;*/
}

#main-poster, #side-posters {
    position: relative;
}

#main-poster {
    flex: 3;
    width: 70%;
    height: auto;
}

#main-poster a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

#main-poster img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#main-poster .release-date {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
}

#side-posters {
    flex: 2;
    display: flex;
    flex-direction: column;
}

#side-posters div {
    flex: 1;
    margin: 5px;
    height: 10%;
    width: auto;
}

#side-posters img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}




























#mini-carousel {
    display: flex;
    align-items: center;
}

#carousel-posters {
    flex: 1;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

#carousel-posters div {
    flex: 1;
    margin: 5px;
}

#carousel-posters img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

































@media screen and (min-width: 768px) {
    main {
        display: flex;
    }

    #hero-carousel,
    #featured-carousel {
        flex-direction: row;
    }

    #recent-movies {
        display: block;
    }
}
